.wrap{
    display: flex;
    justify-content: center;

    flex-direction: column;
    width: 600px;
    margin: 0 auto;
    background-color: #a2f1ea;
    border-radius: 25px;
    padding: 15px;


}

.logo{
    font-size: 45px;
    font-family: 'Cormorant Garamond', serif;
    font-family: 'Playfair Display', serif;
    font-family: 'Roboto', sans-serif;
    color: #7c4e06;
    display: flex;
    justify-content: center;
    height: 100px;
}

/*.tasks-list{*/

/*    font-family: 'Cormorant Garamond', serif;*/
/*    font-family: 'Roboto', sans-serif;*/
/*    font-size: 20px;*/


/*}*/

.listElement{
    background-color: white;
    border-radius: 15px;
    margin: 10px;
    padding: 5px;
    word-wrap: break-word;

    /*Расширение элемента в случае если тектс вылезает за рамки*/

}

.done{
    background-color: white;
    border-radius: 15px;
    margin: 10px;
    padding: 5px;
    word-wrap: break-word;
    text-decoration: line-through;
}

input{
    border-radius: 10px;
    border-color: #f1f5f5;
    height: 24px;

}


.todo{
    display: flex;
    align-items: center;
    /*max-width: 500px;*/
    /*word-wrap: break-word;*/
    justify-content: space-between;



}

.todo:hover{
    background-color: rgba(103, 179, 172, 0.56);
    border-radius: 10px;
}

.btn-delete{
    border-color: #88847f;
    background: white;
    border-radius: 1px;

    height: 25px;
    margin-right: 10px;
}